<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>Member:</b>
  <%=h @comment.member_id %>
</p>

<p>
  <b>User:</b>
  <%=h @comment.user_id %>
</p>

<p>
  <b>Share:</b>
  <%=h @comment.share %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>