<p>
 
  <%=h @member.first %>
  <%=h @member.last %>    
  (<%=h @member.gender %>)  
  has 
   <%= pluralize(@tot_comments, "comment") %>  
   (<b>  <%= @tot_comments - @tot_private_comments %>   </b>public and
  <b>   <%= @tot_private_comments %> </b> private)  
  <br />
    
  <%=h @member.job_title.title %>
   &nbsp;&nbsp; At  
  <%=h @member.company %>, 
  Email:  <%=h @member.email %> 
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>       
 

 <h3>Comments: </h3>
                    

 <%# invokes controller/comments/create action %>
 <% form_remote_for([ @member, @comment ]) do |f| %>
   <%= f.error_messages %>   
   
   <%= render :partial => 'comments/form', :locals => {:f => f, :button_text =>"Submit"}%>

 <% end %>  
  
  <div id="comments">   
    <div id="top_comment">
    </div>
  <% for comment in @member_comments %>    
    <%#= render :partial => 'comments/comment', :locals => {:c => comment }%>
    <%= render :partial => 'comments/comment', :object => comment %>
  <% end %> 
          
  </div>   
 

